* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: aliceblue;
    font-size: 100px;
    position: absolute;
    font-family: Impact, cursive;
    top: 50%;
    left: 50%;
    transform-origin: translate(-50%, -50%);
    border-top: 5px solid white;
}