#canvas1 {
    border: 1px solid black;
    background: url('https://dg-game-assets.s3.amazonaws.com/javascript/performance-optimization-tutorial/assets/bg1.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#asteroid {
    display: none;
}